<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width,initial-scale=1.0">
    <link rel="icon" href="<%= BASE_URL %>favicon.ico">
    <title>O Sambojano Cavalga de Novo </title>
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=News+Cycle|Material+Icons">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.11.2/css/all.min.css">

    <style>

    body, html {
      font-family: 'News Cycle', sans-serif !important;
    }

    h1, h2, h3, h4, h5, h6 {
      font-family: 'News Cycle', sans-serif !important;
      font-weight: 300;
    }

    .material-icons, .fa {
      vertical-align: middle;
    }

    .dignity {
      font-family: 'News Cycle', sans-serif !important;
    }

    v-list-tile {
      font-size: 26px;
    }

    .blockquote {
      font-size: 17px;
      border: 0;
      padding: 5px;
      text-align: center;
      margin-top: 21px;
    }

    </style>


  </head>
  <body>
    <noscript>
      <strong>We're sorry but osambojano.bitbucket.io doesn't work properly without JavaScript enabled. Please enable it to continue.</strong>
    </noscript>
    <div id="app"></div>
    <!-- built files will be auto injected -->
  </body>
</html>
