<template>
  <v-app>
    <v-app-bar app>
      <v-toolbar-title class="headline text-uppercase">
        <span>Blinded</span>
        <span class="font-weight-light">EvanescentInadvertency</span>
      </v-toolbar-title>
      <v-spacer></v-spacer>
      <v-btn
        text
        href="/"
        target="_self"
      >
        <span class="mr-2">Please Release Me</span>
      </v-btn>
    </v-app-bar>

    <v-content>
      <HelloWorld/>
    </v-content>
  </v-app>
</template>

<script>
import HelloWorld from './components/HelloWorld';

export default {
  name: 'App',
  components: {
    HelloWorld,
  },
  data: () => ({
    //
  }),
};
</script>

<style>


	    body, html {
	      font-family: 'News Cycle', sans-serif !important;
	    }

	    h1, h2, h3, h4, h5, h6 {
	      font-family: 'News Cycle', sans-serif !important;
	      font-weight: 300;
	    }

	    i, .material-icons, .fa {
	      vertical-align: middle;
	    }

	    .dignity {
	      font-family: 'News Cycle', sans-serif !important;
	    }

	    v-list-tile {
	      font-size: 26px;
	    }

	    .blockquote {
	      font-size: 17px;
	      border: 0;
	      padding: 5px;
	      text-align: center;
	      margin-top: 21px;
	    }

</style>
