$font-size-root: 16px;
$body-font-family: 'News Cycle', sans-serif !important;
$heading-font-family: 'News Cycle', sans-serif !important;
$btn-border-radius: 8px;

@import '~vuetify/src/styles/styles.sass';
